.dontprint {
	display: none;
}
/* .parent {
	margin: 0px;
} */

span {
	display: inline-block;
	width: 15%;
	align-content: center;
	font-size: 28px;
	padding: 0 auto;
	text-align: center;
	border: 2px solid black;
	height: 60px;
	width: 62px;
	justify-content: center;
}
.ticket:first-child {
	margin: 0px 32px 70px 7px;
	padding-right: 10px;
	padding-left: 10px;
}

.ticket:last-child {
	margin: 0px 7px 70px 32px;
	padding-right: 10px;
	padding-left: 10px;
}

.zero-margin .ticket {
	margin-bottom: 0px;
}
