span {
	display: inline-block;
	width: 15%;
	align-content: center;
	font-size: 28px;
	padding: 0 auto;
	text-align: center;
	border: 1px solid black;
	height: 45px;
	width: 45px;
	justify-content: center;
}
.ticket {
	margin: 10px;
}
