span {
	display: inline-block;
	align-content: center;
	font-size: 1rem;
	text-align: center;
	border: 2px solid black;
	width: 16%;
	height: 2rem;
}

.ticket {
	margin: 20px 0 20px 0;
	padding-right: 2px;
	padding-left: 2px;
}

form {
	text-align: center;
}
label {
	margin-right: 40px;
}

.parent {
	text-align: center;
}

.input-div {
	padding: 3px 0 3px 0;
}

button {
	margin: 3px;
}
